:root{
    --main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-background-color: #17202A;
    --main-text-color: white;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    color:#D5D8DC
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--main-font-family);
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    max-width: 99vw;
    height: 100vh;
    width: 100%;
    overflow-x: auto;
}

.logo {
    font-size: 1.5em;
   color: #4e5863;
   text-align: center;
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 80vw;
}

.dashboardContentsContainer {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    flex-direction: column;
    border-radius: 10px;
    width: 50vw;
    padding: 20px;
    justify-content: center;
    background-color: #34495E;
    text-align: center;
    width: calc(66.66%); /* This container takes 66.66% of the width with 20px spacing */
    box-sizing: border-box;
    transition: box-shadow 0.3s;
}
.dashboardContentsContainer:hover {
    box-shadow: 0 0 5px 3px #D5D8DC;
}


.dashboardContents {
    display: flex;
    flex-direction: row;
    background-color: #34495E;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.dashboardContents:hover {
    box-shadow: 0 0 5px 3px #D5D8DC;
}

.secondRow {
    display:flex;
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
}

.topMoversContainer {
    display: flex;
    flex-direction: row;
    background-color: #34495E;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: calc(33.33%); /* This container takes 33.33% of the width with 20px spacing */
    box-sizing: border-box;
    transition: box-shadow 0.3s;
}

.topMoversContainer:hover {
    box-shadow: 0 0 5px 3px #D5D8DC;
}

.portfolioBox {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    flex: 1;
    background-color: #08AEEA;
    background-image: linear-gradient(135deg, #4dbfe9 0%, #86f0c0 100%);
    text-align: center;

}

.gainBox {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    flex: 1;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
text-align: center;

}

.balanceBox {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    flex: 1;
    background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
text-align: center;

}

.dashboardDisplay {
    font-size: 1.7em;
    font-weight: bold;
}

.boxHeader {
    padding:0;
    text-align: center;
}

.contentBody {
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 100vh; 
    margin-left: 20px;
    
}
.contentContainer {
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: left;
    padding-left: 50px;
}

h2 .buyStockHeading {
    text-align: center;
    padding: none
}

.ce {
    max-width: 700px; /* Optional: Set a maximum width for the centered element */
    width: 100%;
    margin: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 80vh;
    background-color: #34495E;
}

form{
    display: flex;
    flex-direction: column;
    margin:20px;
    width: 20%;
    height: 12%;
    justify-content: center
}

.buyStockHeading {
    font-size: 2em;
    text-align: center;
    padding-left: none;
}

.buyForm {
    display: flex;
    flex-direction: column;
    margin:0;
    width: 100%;
    height: 20%;
    justify-content: center;
    text-align: center;
    max-height: 140px;
    
}
.textEntry{
    border: 1px solid;
    border-radius: 0.4rem;
    width: 100%;
    background-color: #5a5a5a;
    height: 100%;
    padding: 10px;
    color:#ffffff
}

.Input-text::placeholder {
    color: #B0BEC5;
  }
  
  .Input-text:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem ;
  }

.welcome {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p{
    font-size: 1.2em;
}

a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
a:hover {
    background-color: #ffffff;
    color: #3498db;
    border-color: #3498db;
  }

.start {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
.start:hover {
    background-color: #ffffff;
    color: #3498db;
    border-color: #3498db;
  }

.results {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

/* Add this to your style.css file */
.stockDetailsGrid {
    display: flex;

}

.column {
    flex: 1;
    padding: 10px;
    width: 40%;
    text-align: left;
}

/* Additional styles for the tickerButton */
.tickerButton {
    /* Add your button styles here */
    width: 100%;
    text-decoration: none; /* Remove underlines from links */
    color: #ffffff; /* Set the color for the link text */
    background-color: #333; /* Set the background color for the link */
    padding: 10px 20px; /* Add padding to the button */
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    border: none
}

.tickerButton:hover {
    background-color: #ffffff;
    color: #3498db;
}

.searchBar {
    background-color: #5a5a5a;
    border-radius: 25px;
    border: 0;
    height: 100%;
    padding-left: 20px;
    font-size: 1.2em;
    color: white;
}

.searchBar:focus {
    border: 0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    max-width: 100%; /* Set maximum width to prevent overflow */
}

/* Adjust this width based on your preference */
.buyForm button {
    width: 200px; /* Set a specific width or use percentage */
}
  
  button:hover {
    background-color: #ffffff;
    color: #3498db;
    border-color: #3498db;
  }


  
.backButton {
    width: 200px;
    margin-top:20px
}

.stockBackButton {
    margin-left: 50px;
    width: 200px;
}

.buyColumn {
    width: 50vw;
    display:flex;
    flex-direction: column;
    margin-left: 50px;

    
}


.sellColumn {
    width: 50vw;
    display:flex;
    flex-direction: column;
    margin-left: 50px;
}
.buyButton {
    border: none;
    color:white;
    width: 40%;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight:bold;
    text-shadow: 0 0 20px #00ff37;
}

.sellButton{
    border: none;
    color:white;
    width: 40%;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight:bold;
    text-shadow: 0 0 20px #ff0000;
}


.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.sellQuantity,
.buyQuantity,
.buyOrderMenu,
.sellOrderMenu {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 8px;
}

.orderTypeBlock {
    margin-left: 20px;
}

.orderHeading {
    padding:0;
}

.dashboardHeading{
    margin-top: 0;
    padding: 0;
    color: #D5D8DC;
}
.buy {
    background-color: #0dc434;
    width: 10%;
    margin: 10px;
    border: none;
    margin-left: none;
}

.sell {
    background-color: #ff0000;
    width: 5%
}

.buyForm {
    margin: 0;
    margin-top: 20px;
}

.border{
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #000;
    border-style: solid;
    border-color: #00f19f #00FD92;
    box-shadow:  5px 5px 100px #61dafbaa; /* Added box-shadow property */
}
         
.tradeButton {
    background-image: linear-gradient(to right, #00C9FF 0%, #92FE9D  51%, #00C9FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    border: 0;
    display: block;
  }

  .tradeButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}

.userBalanceDisplayStock {
    padding-left: 50px;
}

.portfolioList {
    list-style: none;
    padding: 0;
}

.portfolioItem {
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #2C3E50;
    color: #D5D8DC;
    transition: box-shadow 0.3s;
    cursor: pointer;
}


.stockDetailsGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex: 1;
    padding: 10px;
    width: 40%;
    text-align: left;
}