<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboardContainer">

        <h4 class="logo">Trading Simulator 2024. All trades are simulations with real data.</h4>
        <h1>Welcome, {{ user[1] }}</h1>

        <div class="dashboardContents">
            <div class="portfolioBox">
                <h2 class="boxHeader">Portfolio Value</h2>
                <p class="dashboardDisplay">${{ portfolioValue|float|round(2) }}</p>
            </div>
    
            <div class="balanceBox">
                <h2 class="boxHeader">Balance</h2>
                <p class="dashboardDisplay">${{ user[2]|float|round(2) }}</p>
            </div>
    
            <div class="gainBox">
                <h2 class="boxHeader">Net Profit/Loss</h2>
                <p class="dashboardDisplay">${{ net_profit_loss }}</p>
            </div>
        </div>

        <div class="secondRow">
        <div class="dashboardContentsContainer">
    <h2 class="dashboardHeading">Your Portfolio</h2>
        <ul>
            {% for stock in portfolio %}
            <li class="portfolioItem">
                <div class="stockDetailsGrid">
                    <div class="column">
                        <p>{{ stock[0] }}</p>
                    </div>
                    <div class="column">
                        <p>Quantity: {{ stock[1] }}</p>
                    </div>
                    <div class="column">
                        <p>Value: {{ stock[2] }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    <!-- <a href="'{{ url_for('sell')}}">SELL</a> -->
    <a class="tradeButton" href="{{ url_for('search') }}">TRADE</a>
</div>
    <div class="topMoversContainer">
        <h2 class="dashboardHeading">Top Movers</h2>
        <div class="topMoversTable">
        
        </div>
    </div>
</div>
</div>
</body>
</html>
